{#- The links the header menu and, on a narrow screen, the footer both show. -#}
<a href="{{ 'guide/'|url }}">Guide</a>
<a href="{{ 'reference/'|url }}">Reference</a>
<a href="{{ 'project/roadmap/'|url }}">Roadmap</a>
<hr>
{#- The apex domain serves no HTTPS, so the www host is the only one that answers. -#}
<a href="https://www.openmbee.org/">OpenMBEE</a>
<a href="https://github.com/Open-MBEE/opensysml.github.io/wiki/OpenSysML-Wiki">Community Wiki</a>
<hr>
<a href="https://lord.opensysml.org/" class="osml-menu__aside" target="_blank" rel="noopener">Legend of the Red Dragon</a>
